# Environment
NODE_ENV=production
#NODE_ENV=development

# Server
PORT=3000
API_URL=https://falaahun.onrender.com

# Database
DATABASE_URL=postgresql://<user>:<password>@<host>/<db>?sslmode=require
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dawah_crm
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=false
DB_POOL_MAX=10
DB_IDLE_TIMEOUT_MS=30000
DB_CONNECT_TIMEOUT_MS=10000

# JWT
JWT_SECRET=your-secret-key-change-this

# Client
CLIENT_URL=https://falaahun-1.onrender.com
