# Environment
NODE_ENV=production
#NODE_ENV=development

# Server
PORT=3000
API_URL=https://falaahun.onrender.com

# Database
DATABASE_URL=postgresql://falaahun_db_user:RLifDOYrAJnJu6YGWSrGfz7kQc9GlF4U@dpg-d5vep2ffte5s73cmal3g-a.oregon-postgres.render.com/falaahun_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dawah_crm
DB_USER=postgres
DB_PASSWORD=postgres

# JWT
JWT_SECRET=your-secret-key-change-this

# Client
CLIENT_URL=https://falaahun-1.onrender.com
